# See http://help.github.com/ignore-files/ for more about ignoring files.

#Binary files
Debug/
Debug test/
Release/
.deps/
*.la
*.o
*.plo
*.po
*.Po
*.lo
autom4te.cache
.dirstamp
*.in
*.log
config.guess
*.m4
Makefile
config.h.in~
libsrc3party.a
libsrc3party.la
homeisd
Makefile.in
config.status
Itmain.sh
