[Unit]
Description=Home information service
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/homeis

[Install]
WantedBy=multi-user.target
