.devices_ico
{	
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 	
    margin:8px;            
}

.custom-class
{	
	color: rgb(0,0,0);
}

/* .ui-disabled { 
    opacity: 0.8 !important;
	color: red;
}  */